<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>

</head>
<body>
<section id="content" class="ac-content">
    <div th:text="'Email: '+ ${user.getEmail()}"></div>
    <div th:text="'Name' + ${user.getName()}"></div>
    <div th:text="'Total Issue: ' + ${listIssue.getTotal()}"></div>

    <table>
        <thead>
            <td> Project Name</td>
            <td> Issue key</td>
            <td> Summary</td>
        </thead>
        <th:block th:each="issue : ${listIssue.getIssues()}">
            <tr>
                <td th:text="${issue.projectName}">...</td>
                <td th:text="${issue.key}">...</td>
                <td th:text="${issue.summary}">...</td>
            </tr>
        </th:block>
    </table>

</section>
</body>
</html>